<html>

<head>
    <style>
        body {
            height: 31px;
            width: 88px;
        }

        img {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <img src="/blankie.png" alt="blankie" />
</body>

</html>