<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/pfp-favico.png">
    <title>LarssJ.dev</title>
    <meta property="og:title" content="LarssJ.dev">
    <meta property="og:description" content="I'm Larss_J, your favourite self-proclaimed coder :D">
    <meta property="og:image" content="../img/pfp-favico.png">
    <meta property="og:url" content="https://larssj.dev/">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ff773d">
    <meta name="msapplication-TileColor" content="#ff773d">

    <meta name="description" content="I'm Larss_J, your favourite self-proclaimed coder :D">
    <meta name="keywords"
        content="LarssJ, Larss_J, LarssJ.dev, Larss_J.dev, Larss Jakobsons, Larss, Jakobsons, Larss Jakobson, Larss, Jakobsons, larssj, larss_j, larssj.dev, larss_j.dev, larss jakobsons, larss, jakobsons, larss jakobson, larss, jakobsons">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/top-bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

    <script src="https://kit.fontawesome.com/bd75686a6c.js" crossorigin="anonymous"></script>

    <div class="top-bar">
        <div class="top-bar-items">
            <div class="top-bar-item" id="blog-button">Blogs</div>
            <div class="top-bar-item" id="project-button">Projects</div>
            <div class="top-bar-item" id="home-button">Home</div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax">
            <span class="parallax-title">Welcome! I'm Larss_J.</span>
            <img class="background-image" src="../img/background1.jpg">
        </div>
    </div>

    <div class="top-background">
        <div class="mac-window">
            <div class="title-bar">
                <div class="window-title">LarssJ</div>
                <div class="window-buttons">
                    <div class="window-button close"></div>
                    <div class="window-button minimize"></div>
                    <div class="window-button expand"></div>
                </div>
            </div>
            <div class="mac-card">
                <img class="profile-image" src="../img/pfp.jpg" alt="Profile Picture" />
                <p>Hello! I'm LarssJ, your favourite self-proclaimed developer/coder :D</p>
                <div class="card-buttons">
                    <a href="https://discord.gg/TReMEyBQsh" target="_blank" class="card-button"><i
                            class="fa-brands fa-discord"></i>
                        Discord server</a>
                    <a href="https://ko-fi.com/larssj" target="_blank" class="card-button"><i
                            class="fa-solid fa-heart"></i> Support
                        me!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-info">
        <ul class="bottom-variables">
            <li class="bottom-variable"><a href="https://github.com/larssjakobsons" target="_blank"><i
                        class="fa-brands fa-github"></i>
                    GitHub</a></li>
            <li class="bottom-variable"><a href="https://twitter.com/Larss_J" target="_blank"><i
                        class="fa-brands fa-twitter"></i>
                    Twitter</a></li>
        </ul>
    </div>

    <!-- Include Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/top-bar.js"></script>
</body>

</html>