<!doctype HTML>
<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/discord.css">
    </head>
    <body>
        <script src="https://livejs.com/live.js"></script>
        <script src="https://kit.fontawesome.com/bd75686a6c.js" crossorigin="anonymous"></script>
        <div class="icon" data-target="test">
            <img src="/img/pfp.jpg" alt="Icon">
            <p>Test</p>
        </div>
        <div class="icon" data-target="console">
            <img src="/img/console.png" alt="Icon">
            <p>Console</p>
        </div>
        <div class="icon" data-target="discord">
            <img src="/img/discord.png" alt="Icon">
            <p>Discord</p>
        </div>
        <div class="window test">
            <div class="title-bar">
                <div class="title-bar-text">Test</div>
                <button class="close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="window-body">
                <p>Test</p>
            </div>
        </div>
        <div class="window console">
            <div class="title-bar">
                <div class="title-bar-text">Console</div>
                <button class="close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="window-body">

            </div>
        </div>
        <div class="window discord" style="height: 500px">
            <div class="title-bar">
                <div class="title-bar-text">Discord</div>
                <button class="close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="window-body">

            </div>
        </div>
        <script src="/js/main.js"></script>
        <script src="/js/console.js"></script>
    </body>
</html>