<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://larssj.dev/img/pfp-favico.png">
    <title>LarssJ.dev</title>
    <meta property="og:title" content="LarssJ.dev">
    <meta property="og:description" content="I'm Laura☾, your favourite self-proclaimed coder :D">
    <meta property="og:image" content="https://larssj.dev/img/pfp-favico.png">
    <meta property="og:url" content="https://larssj.dev/">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ff773d">
    <meta name="msapplication-TileColor" content="#ff773d">

    <meta name="description" content="I'm Larss_J, your favourite self-proclaimed coder :D">
    <meta name="keywords"
        content="LarssJ, Larss_J, LarssJ.dev, Larss_J.dev, Larss Jakobsons, Larss, Jakobsons, Larss Jakobson, Larss, Jakobsons, larssj, larss_j, larssj.dev, larss_j.dev, larss jakobsons, larss, jakobsons, larss jakobson, larss, jakobsonsk, prelude, pre1, pre1ude, pre1ude0">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/top-bar.css">
    <link rel="stylesheet" href="../css/macos-window.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

    <script src="https://kit.fontawesome.com/bd75686a6c.js" crossorigin="anonymous"></script>
    <div id="top-bar-div" class="top-bar"></div>

    <div class="parallax-container">
        <div class="parallax">
            <img class="background-image" src="../img/background1.jpg">
        </div>
    </div>
    <div class="top-background">
        <canvas class="background"></canvas>
        <div class="mac-window" id="main-content">
            <div class="title-bar">
                <div class="window-buttons">
                    <div class="window-button close"></div>
                    <div class="window-button minimize"></div>
                    <div class="window-button expand"></div>
                </div>
                <div class="window-title">Pre1ude0</div>
            </div>
            <div class="mac-card">
                <img class="profile-image" src="../img/pfp.jpg" alt="Profile Picture" />
                <p>Hello! I'm Laura☾, your favourite self-proclaimed developer/coder :D</p>
                <div class="card-buttons">
                    <a href="https://ko-fi.com/pre1ude0" target="_blank" class="card-button"><i
                            class="fa-solid fa-heart"></i> Support
                        me!</a>
                </div>
            </div>
        </div>
        <div class="slide-out-container">
            <div class="mac-window" id="slide-out1">
                <div class="title-bar">
                    <div class="window-buttons">
                        <div class="window-button close"></div>
                        <div class="window-button minimize"></div>
                        <div class="window-button expand"></div>
                    </div>
                    <div class="window-title">Experience</div>
                </div>
                <div class="mac-card">
                    <ul class="experience-list">
                        <li id="exp-python"><i class="fa-brands fa-python"></i> Python</li>
                        <li id="exp-git"><i class="fa-brands fa-git-alt"></i> Git</li>
                        <li id="exp-node"><i class="fa-brands fa-node-js"></i> Node.js</li>
                        <li id="exp-html"><i class="fa-brands fa-html5"></i> HTML</li>
                        <li id="exp-css"><i class="fa-brands fa-css3"></i> CSS</li>
                        <li id="exp-js"><i class="fa-brands fa-js"></i> JavaScript</li>
                    </ul>
                </div>
            </div>
            <div class="mac-window" id="slide-out2">
                <div class="title-bar">
                    <div class="window-buttons">
                        <div class="window-button close"></div>
                        <div class="window-button minimize"></div>
                        <div class="window-button expand"></div>
                    </div>
                    <div class="window-title">Connections</div>
                </div>
                <div class="mac-card" id="connections-card">
                    <div class="card-buttons">
                        <a href="https://github.com/Pre1ude0" target="_blank" class="card-button" id="github-btn"><i
                                class="fa-brands fa-github"></i> Github - Pre1ude0</a><a href="https://catgirl.center/@Pre1ude0" target="_blank" class="card-button"
                            id="mastodon-btn"><i class="fa-brands fa-mastodon"></i> Mastodon - @Pre1ude0</a><a href="/discord" target="_blank" class="card-button" id="discord-btn"><i
                                class="fa-brands fa-discord"></i>
                            Discord - pre1ude0</a>
                        <a href="https://steamcommunity.com/id/Pre1ude0" target="_blank" class="card-button"
                            id="steam-btn"><i class="fa-brands fa-steam"></i>
                            Steam - Laura☾</a>
                        
    
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="bottom-info">
        <ul class="bottom-variables">
            <li>
                <h1>Disclaimer</h1>

                <p>This website is a personal portfolio showcasing my work and web development journey. The content
                    provided
                    here is for informational purposes only and represents my own opinions and experiences.</p>
            </li>
            <li>
                <h1>Contact Information</h1>
                <p>If you have any questions or would like to get in touch, please feel free to contact me at
                    <span id="email">laura@larssj.dev</span> or any of the previously linked social accounts.
                </p>
            </li>
            <li>
                <h1>Copyright Notice</h1>
                <p>
                    All content on this website, including but not limited to text, graphics, images, and all of my
                    projects, is my own
                    creation unless otherwise stated. This content is licensed under the <a id="mit" href="/MIT">MIT
                        License</a>, which allows for
                    free use,
                    modification, and distribution, provided appropriate credit is given to me (Pre1ude0).
                </p>
            </li>
            <li>
                <h1>External Links</h1>
                <p>This website may contain links to external websites that are not provided or maintained by or in
                    any
                    way
                    affiliated with me. Please note that I do not guarantee the accuracy, relevance, timeliness, or
                    completeness
                    of any information on these external websites.
                </p>

            </li>
            <li>
                <h1>Limitation of Liability</h1>
                <p>
                    I am not responsible for any errors or omissions, or for the results obtained from the use of
                    this
                    information. All information on this site is provided "as is", with no guarantee of
                    completeness,
                    accuracy,
                    timeliness, or of the results obtained from the use of this information.
                </p>
            </li>
        </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/top-bar.js"></script>
    <script src="../js/particles.min.js"></script>
</body>

</html>