<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" />
		<title>Laura☾ | @Pre1ude0</title>
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/background.css" />
		<link rel="stylesheet" href="/css/crt.css" />
		<link rel="stylesheet" href="/css/glitch.css" />
		<link rel="stylesheet" href="/css/screen.css" />
		<link rel="stylesheet" href="/css/git.css" />
		<link rel="stylesheet" href="/css/animation.css" />
		<!-- <link rel="stylesheet" href="/css/guestbook.css" /> -->
		<meta property="og:title" content="Laura☾" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://pre1ude.dev" />
		<meta
			property="og:image"
			content="https://pre1ude.dev/img/newpfp.jpeg"
		/>
		<meta
			property="og:description"
			content="Your favorite (non-)self-proclaimed developer"
		/>
		<meta property="og:site_name" content="pre1ude.dev" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="site-button" content="https://pre1ude.dev/blankie.png" />
        <meta name="pride-flag" content="aroace" />
	</head>

	<body>
	    <script src="https://livejs.com/live.js"></script>
		<script
			src="https://kit.fontawesome.com/bd75686a6c.js"
			crossorigin="anonymous"
		></script>
		<!-- <img
			src="https://www.playbalatro.com/assets/scanlines-CkHILBA5.png"
			alt="crt line toggle icon"
			class="crt-toggle"
			draggable="false"
			onclick="document.querySelector('.crt').classList.toggle('hide')"
			tabindex="-1"
		/> -->
		<div class="box-title">
			<h1>pre1ude<span style="color: gray">.dev</span></h1>
		</div>
		<div class="copy-popup" id="copyPopup">Copied!</div>
		<div class="mainbox">
			<div class="tab-selector">
				<div class="selected-tab" id="indicator"></div>
				<div class="tabs-left">
					<a
						href="#hireme"
						class="tab hireme"
						style="position: absolute; left: 10px; top: 25px"
						tabindex="1"
						draggable="false"
					>
					    <i class="fa-solid fa-briefcase"></i>
					</a>
					<a href="#home" class="tab" tabindex="10" draggable="false">
						<i class="fa-solid fa-house"></i>
					</a>
					<a href="#connections" class="tab" tabindex="10" draggable="false">
						<i class="fa-solid fa-link"></i>
					</a>
					<a href="#projects" class="tab" tabindex="10" draggable="false">
						<i class="fa-solid fa-clipboard"></i>
					</a>
				</div>
				<div class="tabs-right">
					<a
						href="#hireme"
						style="position: absolute; left: 0; top: 25px"
						draggable="false"
						tabindex="-1"
						class="hireme"
					>
						Hire me!
					</a>
					<a href="#home" draggable="false" tabindex="-1"> Home </a>
					<a href="#connections" draggable="false" tabindex="-1">
						Socials
					</a>
					<a href="#projects" draggable="false" tabindex="-1">
						Projects
					</a>
				</div>
			</div>
			<div class="screen" id="home">
				<div class="left">
					<img
						src="/img/newpfp.jpeg"
						alt="Laura"
						class="pfp-image"
						draggable="false"
					/>

					<h2 class="hero glitch layers" data-text="Laura☾">
						<span>Laura☾</span>
					</h2>
					<h2 class="handle" onclick="copyItem('Pre1ude0')">
						@Pre1ude0
					</h2>
					<div class="items">

						<div class="descriptor">
							<div class="title">
								<h1>Toolkit</h1>
							</div>
							<div class="experience-container">
								<div class="box" id="css">
									<i class="nf nf-custom-css"></i>
									<text>CSS</text>
								</div>
								<div class="box" id="html">
									<i class="nf nf-dev-html5"></i>
									<text>HTML</text>
								</div>
								<div class="box" id="js">
									<i class="nf nf-fa-js"></i>
									<text>JS</text>
								</div>
								<div class="box" id="ts">
                                    <i class="nf nf-dev-typescript"></i>
                                    <text>TS</text>
                                </div>
								<div class="box" id="python">
									<i class="nf nf-dev-python"></i>
									<text>Python</text>
								</div>
								<div class="box" id="node">
									<i class="nf nf-md-nodejs"></i>
									<text>NodeJS</text>
								</div>
								<div class="box" id="express">
								    <i class="nf nf-dev-express"></i>
                                    <text>Express</text>
                                </div>
								<div class="box" id="svelte">
                                    <i class="nf nf-dev-svelte"></i>
                                    <text>Svelte</text>
								</div>
								<div class="box" id="linux">
                                    <i class="nf nf-md-arch"></i>
                                    <text>Linux</text>
								</div>
							</div>
						</div>
						<div class="descriptor" style="margin-top: 10px">
							<iframe
                                src="https://ring.pre1ude.dev/ring?url=https://pre1ude.dev&bgcolor=black"
                                width="100%"
                                height="90px"
                                frameborder="0"
                                scrolling="no"
                            ></iframe>
						</div>
						<!-- <div class="descriptor">
							<div class="title">
								<h1>Meow?</h1>
							</div>
							<h2>Meow!</h2>
						</div> -->
					</div>
				</div>
				<div class="right">
					    <div class="items">
					    <div class="descriptor">
						    <div class="title">
							    <h1>Who?</h1>
						    </div>
						    <h2>
							    Your favorite (non-)self-proclaimed developer
						    </h2>
					    </div>
						<div class="descriptor">
							<div class="title">
								<h1>Pronouns</h1>
							</div>
							<h2>
								<a href="https://lgbtqia.wiki/wiki/Demigirl" target="_blank" title="What's a demigirl?" class="demigirl">She/They/It</a>
							</h2>
						</div>
						<div class="descriptor">
							<div class="title">
								<h1>Age</h1>
							</div>
							<h2>17</h2>
						</div>
						<div class="descriptor">
							<div class="title">
								<h1>Location</h1>
							</div>
							<h2 class="latvia">
								Latvia
							</h2>
						</div>
						<div class="descriptor">
							<div class="title">
								<h1>Occupation</h1>
							</div>
							<h2>Freelance developer / Student</h2>
						</div>
						<div class="descriptor">
							<div class="title">
								<h1>Hobbies</h1>
							</div>
							<h2>
								Programming; Chess; Gaming; Art; Music
							</h2>
						</div>

					</div>
				</div>
			</div>
			<div class="screen" id="connections">
				<div class="items">
					<h1>Connections</h1>
					<div class="descriptor">
						<div class="title">
							<h1>email<i class="fa-solid fa-at"></i></h1>
						</div>
						<div class="connection">
							<h2>laura@pre1ude.dev</h2>
							<div class="buttons">
								<button
									onclick="copyItem('laura@pre1ude.dev')"
									class="fa-solid fa-copy"
								></button>
								<a
									href="mailto:laura@pre1ude.dev"
									target="_blank"
								>
									<i
										class="fa-solid fa-arrow-up-right-from-square"
									></i>
								</a>
							</div>
						</div>
					</div>
					<div class="descriptor">
						<div class="title">
							<h1>github<i class="fa-brands fa-github"></i></h1>
						</div>
						<div class="connection">
							<h2>Pre1ude0</h2>
							<div class="buttons">
								<button
									onclick="copyItem('Pre1ude0')"
									class="fa-solid fa-copy"
								></button>
								<a
									href="https://github.com/Pre1ude0"
									target="_blank"
								>
									<i
										class="fa-solid fa-arrow-up-right-from-square"
									></i>
								</a>
							</div>
						</div>
					</div>
					<div class="descriptor">
						<div class="title">
							<h1>discord<i class="fa-brands fa-discord"></i></h1>
						</div>
						<div class="connection">
							<h2>pre1ude0</h2>
							<div class="buttons">
								<button
									onclick="copyItem('pre1ude0')"
									class="fa-solid fa-copy"
								></button>
								<a
									href="https://discord.com/users/737983831000350731"
									target="_blank"
								>
									<i
										class="fa-solid fa-arrow-up-right-from-square"
									></i>
								</a>
							</div>
						</div>
					</div>
					<div class="descriptor">
						<div class="title">
							<h1>
								mastodon<i class="fa-brands fa-mastodon"></i>
							</h1>
						</div>
						<div class="connection">
							<h2>Pre1ude0@catgirl.center</h2>
							<div class="buttons">
								<button
									onclick="copyItem('Pre1ude@catgirl.center')"
									class="fa-solid fa-copy"
								></button>
								<a
									href="https://catgirl.center/@Pre1ude0"
									target="_blank"
								>
									<i
										class="fa-solid fa-arrow-up-right-from-square"
									></i>
								</a>
							</div>
						</div>
					</div>
					<div class="descriptor">
						<div class="title">
							<h1>Bluesky<i class="fa-brands fa-bluesky"></i></h1>
						</div>
						<div class="connection">
							<h2>@pre1ude0.at.fent.space</h2>
							<div class="buttons">
								<button
									onclick="copyItem('pre1ude0.at.fent.space')"
									class="fa-solid fa-copy"
								></button>
								<a
									href="https://bsky.app/profile/pre1ude0.at.fent.space"
									target="_blank"
								>
									<i
										class="fa-solid fa-arrow-up-right-from-square"
									></i>
								</a>
							</div>
						</div>
					</div>
					<div class="descriptor">
						<div class="title">
							<h1>
								Steam<i class="fa-brands fa-steam"></i>
							</h1>
						</div>
						<div class="connection">
							<h2>Laura☾</h2>
							<div class="buttons">
								<button
									onclick="copyItem('Laura☾')"
									class="fa-solid fa-copy"
								></button>
								<a
									href="https://steamcommunity.com/id/Pre1ude0/"
									target="_blank"
								>
									<i
										class="fa-solid fa-arrow-up-right-from-square"
									></i>
								</a>
							</div>
						</div>
					</div>
					<div class="descriptor">
						<div class="title">
							<h1>
								discord server<i class="fa-solid fa-flask"></i>
							</h1>
						</div>
						<div class="connection">
							<h2>gg/5nZVVedbqH</h2>
							<div class="buttons">
								<button
									onclick="copyItem('5nZVVedbqH')"
									class="fa-solid fa-copy"
								></button>
								<a
									href="https://discord.gg/5nZVVedbqH"
									target="_blank"
								>
									<i
										class="fa-solid fa-arrow-up-right-from-square"
									></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="friends">
					<h1>Me & my friends</h1>
					<div class="banners">
						<a href="https://pre1ude.dev" target="_blank"
							><img
								src="https://pre1ude.dev/blankie.png"
								height="31"
								width="88"
								alt="pre1ude.dev"
						/></a>
						<a href="https://simpleduck.neocities.org/" target="_blank"
							><img
								src="https://simpleduck.neocities.org/stupididiotthing.png"
								height="31"
								width="88"
								alt="simpleduck.neocities.org"
						/></a>
						<a href="https://kyuqdev.pages.dev" target="_blank">
							<img
								src="https://kyuqdev.pages.dev/referer/banner.png"
								height="31"
								width="88"
								frameborder="0"
								referrerpolicy="origin"
								loading="lazy"
								alt="kyuqdev.pages.dev"
						/></a>
						<a href="https://nyatalie.fyi" target="_blank">
						    <img src="https://nyatalie.fyi/nat88x31.png" alt="nyatalie.fyi">
						</a>
						<a href="https://uwu.gal/about-us" target="_blank">
							<img
								src="https://uwu.gal/button.png"
								width="88"
								height="31"
								alt="uwu.gal"
							/>
						</a>
						<a href="https://vorlie.pages.dev/" target="_blank">
							<img
								src="https://vorlie.pages.dev/images/vorlie.png"
								alt="vorlie button"
								width="88"
								height="31"
								loading="lazy"
								alt="vorlie.pages.dev"
							/>
						</a>
						<a href="https://byeoon.github.io" target="_blank">
							<img
								src="https://byeoon.github.io/img/button.png"
								alt="byeoon button"
								width="88"
								height="31"
								loading="lazy"
								alt="byeoon.github.io"
							/>
						</a>
						<a href="https://specifix.dev" target="_blank">
							<img
								src="https://specifix.dev/images/88x31.png"
								width="88"
								height="31"
								loading="lazy"
								alt="specifix.dev"
							/>
						</a>
						<a href="https://deepy.me" target="_blank">
							<img
								src="https://i.imgur.com/PfpetAP.png"
								width="88"
								height="31"
								alt="deepy.me"
							/>
						</a>
						<a href="https://lumap.xyz" target="_blank">
							<img
								src="https://lumap.xyz/button.png"
								width="88"
								height="31"
								alt="lumap.xyz"
							/>
						</a>
						<a href="https://mystie.dev" target="_blank">
							<img
								src="https://mystie.dev/st/img/mystie_btn.png"
								width="88"
								height="31"
								alt="mystie.dev"
							/>
						</a>
						<a href="https://dvop.fyi" target="_blank">
						    <img src="https://dvop.fyi/images/frank.png"
						    width="88"
						    height="31"
						    alt="dvop.fyi" />
						</a>
					</div>
					<div class="referrer-box">
						<h3>Add me to your website!</h3>
						<div class="referer-sub">
							<div class="code-container">
								<code>
									&lt;a href=&quot;https://pre1ude.dev&quot;
									target=&quot;_blank&quot;&gt;&lt;img
									src=&quot;https://pre1ude.dev/blankie.png&quot;
									height=&quot;31&quot; width=&quot;88&quot; alt=&quot;pre1ude.dev&quot;
									/&gt;&lt;/a&gt;
								</code>
								<div class="divider"></div>
								<button onclick="copyIframe()">Copy</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="screen" id="projects">
				<div class="items">
					<h1 style="width: 100%">Projects</h1>
					<div class="descriptor">
					    <div class="title">
                            <h1>
                                <span>Ring-amajig</span>
                            </h1>
                        </div>
                        <div class="project">
                            <div class="info">
                                <h2>Yet another webring on the www</h2>
                                <div class="buttons">
                                    <a href="https://ring.pre1ude.dev" target="_blank"><i class="fa-solid fa-globe"></i> ring.pre1ude.dev</a>
				    <a
					href="https://github.com/Pre1ude0/ringamajig"
					target="_blank"
				    >
				    <i class="fa fa-github"></i>
					Pre1ude0/ringamajig
				    </a>
				</div>
                            </div>
                            <img
                                src="/img/ringamajig.png"
                                alt="Ring-amajig"
                                class="banner"
                            />
                        </div>
                    </div>
					<div class="descriptor">
						<div class="title">
							<h1>
								<span>sampling.lv</span>
							</h1>
						</div>
						<div class="project">
							<div class="info">
								<h2>Website of the Sampling Design office</h2>
								<div class="buttons">
									<a
										href="https://sampling.lv"
										target="_blank"
									>
										<i class="fa-solid fa-globe"></i>
										sampling.lv
									</a>
								</div>
							</div>
							<img
								src="/img/sampling.png"
								alt="sampling.lv"
								class="banner"
								style="filter: invert(1)"
							/>
						</div>
					</div>
					<div class="descriptor">
						<div class="title">
							<h1>
								<span>upgrandtour.eu</span>
							</h1>
						</div>
						<div class="project">
							<div class="info">
								<h2>
									Website for the european grand tour
									preservation project
								</h2>
								<div class="buttons">
									<a
										href="https://upgrandtour.eu"
										target="_blank"
									>
										<i class="fa-solid fa-globe"></i>
										upgrandtour.eu
									</a>
								</div>
							</div>
							<img
								src="/img/upgrandt.png"
								alt="upgrandtour.eu"
								class="banner"
								style="filter: invert(1)"
							/>
						</div>
					</div>
					<div class="descriptor">
						<div class="title">
							<h1>
								<span>Insermius bot</span>
							</h1>
						</div>
						<div class="project">
							<div class="info">
								<h2>The Insermius discord bot hobby project</h2>
								<div class="buttons">
									<a
										href="https://github.com/insermius-dev/insermius-bot"
										target="_blank"
									>
										<i class="fa fa-github"></i>
										insermius-dev/insermius-bot
									</a>
									<a
										href="https://insermius.pre1ude.dev"
										target="_blank"
									>
										<i class="fa-solid fa-globe"></i>
										insermius.pre1ude.dev
									</a>
								</div>
							</div>
							<img
								src="/img/insermius.png"
								alt="Insermius"
								class="banner"
							/>
						</div>
					</div>
					<div class="descriptor">
						<div class="title">
							<h1>
								<span>Hyprland configs</span>
							</h1>
						</div>
						<div class="project">
							<div class="info">
								<h2>A small Hyprland config directory</h2>
								<div class="buttons">
									<a
										href="https://github.com/Pre1ude0/hyprland-config"
										target="_blank"
									>
										<i class="fa fa-github"></i>
										Pre1ude0/hyprland-config
									</a>
								</div>
							</div>
							<img
								src="/img/hyprland.png"
								alt="Hyprland"
								class="banner"
							/>
						</div>
					</div>
					<div class="descriptor">
						<div class="title">
							<h1>
								<span>pre1ude.dev</span>
							</h1>
						</div>
						<div class="project">
							<div class="info">
								<h2>My personal/portfolio website</h2>
								<div class="buttons">
									<a
										href="https://github.com/Pre1ude0/pre1udedev"
										target="_blank"
									>
										<i class="fa fa-github"></i>
										Pre1ude0/pre1udedev
									</a>
									<a
										href="https://pre1ude.dev"
										target="_blank"
									>
										<i class="fa-solid fa-globe"></i>
										pre1ude.dev
									</a>
								</div>
							</div>
							<img
								src="/img/pre1ude.png"
								alt="pre1ude.dev"
								class="banner"
							/>
						</div>
					</div>
				</div>
			</div>
			<div class="screen" id="hireme">
				<h2>Want to comission/hire me? <br />I'm looking for work!!</h2>
				<h3>I make</h3>
				<ul>
				    <li>Personal/Portfolio sites</li>
				    <li>Websites for small businesses</li>
				    <li>Discord bots</li>
				    <li>General webapps</li>
				</ul>

				<p>
					Shoot me an email on
					<a href="mailto:laura@pre1ude.dev">laura@pre1ude.dev</a> or
					a dm on discord:
					<a href="https://discord.com/users/737983831000350731"
						>@pre1ude0</a
					>!
					<br />
					<span class="subnote">
					    I may not be able to respond immediately, but I will as soon as I get the chance to!
					</span>
				</p>
			</div>
			<div class="unknown-page" id="unknownPage" class="hidden">
				<h1>Took a detour?</h1>
				<a href="#home">&gt Get back on track! &lt</a>
			</div>
		</div>

		<div class="commit-box" id="commit-box">
			<div class="commit-content">
				<button class="close-btn" id="close-btn">
					<i class="fa-solid fa-xmark close-btn"></i>
				</button>
				<h2>Latest change</h2>
				<p>
					<a href="" id="commit-link" target="_blank">
						<strong>
							<span id="commit-message"></span>
						</strong>
					</a>
				</p>
				<p>
					<span id="commit-date"></span>
				</p>
				<div class="line"></div>
			</div>
		</div>

		<!-- <div class="guestbook">
		    <div class="guestbook-header" onclick="document.querySelector('.guestbook').classList.toggle('open')">
		        <h1>Guestbook</h1>
		    </div>
		    <form id="guestbook-form">
				<div class="horizontal">
                    <input type="text" name="name" placeholder="Your name" required />
                    <input type="text" name="website" placeholder="Your website url"/>
                    <input tyle="email" name="email" placeholder="Your email" />
				</div>
                <textarea name="message" placeholder="Your message" required></textarea>

                <button type="submit">Submit</button>
		    </form>

		    <div id="entries"></div>
		</div> -->

		<div class="crt hide"></div>
		<div class="bg"></div>
		<script src="/js/main.js"></script>
		<script src="/js/git.js"></script>
		<!-- <script src="/js/guestbook.js"></script> -->
	</body>
</html>
