<!doctype HTML>
<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="../css/test.css">
    </head>
    <body>
        <script src="https://livejs.com/live.js"></script>
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">Test</div>
                <div class="title-bar-controls">
                    <button class="minimize"></button>
                    <button class="maximize"></button>
                    <button class="close"></button>
                </div>
            </div>
            <div class="window-body">
                <p>Test</p>
            </div>
        </div>
        <script src="../js/test.js"></script>
    </body>
</html>