body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #d4d4d4;
    color: rgb(57, 57, 57);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text {
    font-size: 1.2em;
    text-align: center;
    width: 50%;
}

.main-top i {
    font-size: 8em;
}

h1 {
    font-size: 4em;
    font-weight: normal;
    text-align: center;
}

.blog-button {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #ff5f57;
    border: none;
    cursor: pointer;
}

.blog-button {
    list-style-type: none;
    color: white;
    margin: 0.5em 0;
    padding-left: 1em;
    text-align: left;
}

.blog-button a {
    color: white;
    text-decoration: underline;
    width: 100%;
    height: 100%;
}

.blog-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.blog-button:hover {
    background-color: #ffafab;
}