body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #d4d4d4;
    color: rgb(57, 57, 57);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4em;
    font-weight: normal;
    text-align: center;
}

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: rgb(228, 228, 228);
    margin: 1em 0;
}

.blog-text {
    font-size: 1.2em;
    line-height: 1.3em;
    text-align: left;
    width: 80%;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 1em;
    margin-bottom: 100px;
}

.arrow {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    color: rgb(57, 57, 57);
    text-decoration: none;
    transition: width 0.2s, height 0.2s, margin 0.2s, color 0.2s;
}

.arrow:hover {
    margin: 5px 5px;
    width: 40px;
    height: 40px;
    color: #ff5f57;
}

.arrow:active {
    margin: 10px 10px;
    width: 30px;
    height: 30px;
}