body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #d4d4d4;
    color: rgb(57, 57, 57);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4em;
    font-weight: normal;
    text-align: center;
}

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: rgb(228, 228, 228);
    margin: 1em 0;
}

.blog-text {
    font-size: 1.2em;
    line-height: 1.3em;
    text-align: left;
    width: 80%;
}

md-block {
    h1 {
        font-size: 2em;
        font-weight: normal;
        text-align: left;
        padding: 0.3em 0;
        border-bottom: 2px dashed #4c4c4c4f;
    }

    h2 {
        font-size: 1.5em;
        font-weight: normal;
        text-align: left;
    }

    h3 {
        font-size: 1.2em;
        font-weight: normal;
        text-align: left;
    }

    p {
        font-size: 1em;
        line-height: 1.3em;
        text-align: left;
    }

    a {
        color: #ff5f57;
        text-decoration: none;
    }

    a:hover {
        color: #ff5f57;
        text-decoration: underline;
    }

    code {
        font-family: 'Roboto Mono', monospace;
        background-color: #adadad82;
        padding: 0.2em;
        border-radius: 0.2em;
    }

    blockquote {
        background-color: #0000001a;
        padding: 0.5em 1em;
        border-left: 4px solid #ff5f57;
        margin: 0 0;

        p {
            margin: 0;
        }
    }

    hr {
        border-color: #4c4c4c4f;
        border-style: dashed;
        border-width: 2px;
        border-bottom: none;
    }
}