@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Badeen+Display&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yuji+Mai&display=swap");
@import "https://www.nerdfonts.com/assets/css/webfont.css";

body: not(.user-is-tabbing) button: focus,
    body: not(.user-is-tabbing) a: focus,
    body: not(.user-is-tabbing) input: focus,
    body: not(.user-is-tabbing) select: focus,
    body: not(.user-is-tabbing) textarea: focus {
    outline: none !important;
    box-shadow: none !important;
}

::selection {
    background-color: #ffffff;
    color: #000000;
}

::-moz-selection {
    background-color: #ffffff;
    color: #000000;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

:focus {
    outline: 2px solid white;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px gray;
}

body {
    background: black;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    margin: 0;
    padding: 0;

    color: white;
}

.blog-content {
    max-width: 800px;
    width: calc(100% - 20px);
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: "Space Mono", monospace;
}

h1 {
    font-size: 30pt;
    margin: 20px 0;
}

h2 {
    font-size: 25pt;
    margin: 18px 0;
}

h3 {
    font-size: 20pt;
    margin: 16px 0;
}

h4 {
    font-size: 15pt;
    margin: 14px 0;
}

a {
    color: #ffffff;
    text-decoration: underline;
    font-size: 13pt;

    &:hover {
        color: #d1d1d1;
    }
}

p {
    font-size: 13pt;
    line-height: 1.5;
}

blockquote {
    font-size: 13pt;
    margin: 20px 0;
    padding: 2px 20px;
    border-left: 4px solid #ffffff;
    color: white;

    p {
        margin: 5px 0;
    }
}

code {
    font-family: "Space Mono", monospace;
    font-size: 13pt;
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 2px 4px;
    border-radius: 4px;
}

pre {
    font-family: "Space Mono", monospace;
    font-size: 13pt;
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    transition:
        transform 0.3s,
        border-radius 0.3s;

    &:hover {
        transform: scale(1.05);
        border-radius: 0px;
    }
}

ul {
    li {
        list-style-type: none !important;
        margin: 0 15px;
        font-size: 13pt;

        &::before {
            display: inline-block;
            vertical-align: top;
            line-height: normal;
            color: white;
            font-size: 15px;
            font-weight: bold;
            margin-right: 5px;
            margin-top: 2px;
        }
    }

    li::before {
        content: "$";
    }

    li ul li::before {
        content: "%";
    }

    li ul li ul li::before {
        content: "#";
    }

    li ul li ul li ul li::before {
        content: "?";
    }
}

ol {
    margin: 5px 0;
    padding-left: 20px;

    li {
        margin: 0 15px;
        font-size: 13pt;

        &::marker {
            font-size: 12.5pt;
            color: #ffffff;
            font-weight: bold;
            margin-right: 5px;
        }
    }
}

footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px;
    font-size: 13pt;
    color: white;
    background-color: #0b0b0b;
    gap: 20px;

    font-family: "Space Mono", monospace;
    font-size: 13pt;

    p {
        margin: 0;
        padding: 0;
        font-size: 16pt;
        color: white;
        font-weight: bold;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 13pt;
        transition:
            transform 0.3s,
            color 0.3s,
            background-color 0.3s;
        font-weight: bold;
        padding: 0 5px;
        background-color: transparent;

        &:hover {
            color: black;
            transform: scale(1.05);
            background-color: white;
        }
    }
}
