@keyframes drift {
	0% {
		background-position-x: 0;
		background-position-y: 100%;
	}
	100% {
		background-position-x: 100%;
		background-position-y: 0;
	}
}



.crt {
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 140px 80px inset;
    z-index: 99;
    opacity: 1;
    transition: opacity 0.5s;
    pointer-events: none;
}

.crt::before {
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 5px;
    z-index: 199;
    background: rgba(225, 241, 241, 0.42);
    opacity: 0;
    animation: 1s linear drift infinite;
}

.crt::after {
    inset: 0px;
    z-index: 99;
    background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.12) 51%)
        0% 0% / 100% 6px;
	animation: 1s linear drift infinite;
}

.crt::before,
.crt::after {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
}

.hide.crt {
	opacity: 0;
	
}

.crt-toggle {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	height: 30px;
	z-index: 10;
	cursor: pointer;
	transition: transform 0.2s;

	&:active {
		transform: scale(0.9);	
	}
}
