.disclaimer-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    user-select: none;
}

.disclaimer {
    color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.disclaimer-secondary {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto-monospace', monospace;
    font-weight: 400;
    letter-spacing: 1px;
}

.mobile-disclaimer {
    z-index: -1;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
}

.mobile-disclaimer i {
    font-size: 100px;
    color: rgba(0, 0, 0, 0.9);
}

.mobile-disclaimer-text {
    font-size: 20px;
    font-family: 'Roboto', monospace;
    max-width: 350px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    color: rgba(0, 0, 0, 1);
}
