.profile-image {
    border-radius: 50%;
    margin-bottom: 1em;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

p {
    margin: 0;
    color: rgb(234, 234, 234);
    font-size: 1.2em;
    font-family: "Roboto", sans-serif;
}

.top-background {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0.5em 0;
    background-color: #434850;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    min-height: 100vh;
    flex-direction: column;
}

.bottom-info {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #151515;
    z-index: 1;
    padding-bottom: 0;
}

.bottom-variables {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    z-index: inherit;
}

.bottom-variable {
    margin: 0 1em;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

.bottom-variable a {
    text-decoration: none;
    color: white;
}

.bottom-variable a:hover {
    color: #ff5f57;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #939393;
    color: white;
}


.parallax img {
    width: 100%;
    height: auto;
    transform: translateY(-45%);
}

@media screen and (max-width: 750px) {


    .parallax img {
        height: 100%;
        width: auto;
        transform: translateX(-50%);
    }

}

.background {
    position: absolute;
    display: block;
    left: 0;
    z-index: 1;
    max-height: 100%;
}

#slide-out1,
#slide-out2 {
    display: block;
    position: absolute;
}

#slide-out1 {
    right: 0;
    top: 0;
}

#slide-out2 {
    left: 0;
    top: 0;
}

#main-content {
    transition: margin-bottom 0.5s;
}

.slide-out-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 35vh;
    width: 500px;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    transition: margin-top 0.5s, width 0.5s;
}

@media screen and (max-width: 750px) {
    .slide-out-container {
        margin-top: 0 !important;
        max-width: 90%;
        height: auto;
        position: relative;
    }

    #main-content {
        margin-bottom: 0 !important;
    }

    #slide-out1,
    #slide-out2 {
        width: 80%;
        position: relative;
    }

    #slide-out1 .mac-card,
    #slide-out2 .mac-card {
        height: auto !important;
        padding: 1em !important;
    }
}

.slide-out-active {
    #main-content {
        margin-bottom: 35vh;
    }

    .slide-out-container {
        margin-top: 40vh;
        width: calc(95% - 10px);
        /* Adjust the value of 20px according to your needs */
    }
}