@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Badeen+Display&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yuji+Mai&display=swap");

body {
    background: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-image: radial-gradient(
        rgb(160, 140, 170) 12.8%,
        transparent 14.4%
    );
    background-position: 8px 8px;
    background-size: 16px 16px;
    background-color: rgb(0, 0, 0); */

    background-color: black;
}

.mainbox {
    padding: 30px;
    width: 700px;
    height: 600px;
    border: 1px solid white;
    position: relative;
    color: white;
    background-color: black;
    z-index: 2;
    overflow: hidden;
}

.box-title h1 {
    padding: 0 4px;
    position: absolute;
    left: calc(50% - 350px);
    top: calc(50% - 357px);
    font-size: 18px;
    background-color: black;
    font-family: "Space Mono", monospace;
    z-index: 20;
    color: white;
}

.tab-selector {
    height: 90%;
    width: 60px;
    border: 1px solid gray;
    transition: width 0.3s;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    background: black;
}

.tabs-right,
.tabs-left {
    a {
        margin: 0;
        padding: 0;
        color: white;
        text-decoration: none;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    position: absolute;

    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100%;
    bottom: 15px;
    gap: 10px;
    font-family: "Space Mono", monospace;
    user-select: none;
}

.tabs-right {
    font-size: 20px;
    left: 60px;
    align-items: flex-start;
    justify-content: flex-end;

    a {
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.3s;
    }
}

.tabs-left {
    font-size: 30px;
    left: 0px;
    align-items: center;
    justify-content: flex-end;
    transition: transform 0.3s;
    a {
        transform: rotate(0);
        transition: transform 0.3s;
    }
}

.tab-selector:hover {
    width: 170px;
    .tabs-right {
        a {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.tabs-left a:hover {
    transform: rotate(-5deg) scale(1.1);
}

.tabs-right a:hover {
    transform: translateX(5px) !important;
}

.selected-tab {
    height: 40px;
    width: 40px;
    backdrop-filter: invert(1);
    position: absolute;
    bottom: 115px;
    left: 10px;
    z-index: 5;
    cursor: pointer;
    transition:
        bottom 0.2s,
        transform 0.15s;
}

.selected-tab:hover {
    transform: scale(1.1) rotate(-5deg);
}
