body {
    background-color: #444444;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.window {
    display: none;
    background-color: #2f2f2f;
    width: 700px;
    position: absolute;
    border-radius: 5px;
    max-height: 80vh;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0)) brightness(0.8);
    transition: filter 0.15s;

    top: 0;
    left: 0;

    &.active {
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)) brightness(1);
    }
}

.title-bar {
    user-select: none;
    background-color: #3a3a3a;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title-bar-text {
    display: inline-block;
    margin: 0;
}

.window-body {
    height: 100%;
    position: relative;
}

.icon {
    border: 1px solid rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 60px;
    height: 75px;
    user-select: none;
    position: absolute;
    z-index: 50;

    &.dragging {
        border: 1px dotted #74b8ff;
    }

    &.clicked {
        background-color: rgba(116, 184, 255, 0.58);
        border: 1px dotted #74b8ff;
    }

    &.opened {
        border: 1px dotted #74b8ff;
    }
}

.icon img {
    width: 50px;
    height: 50px;
    pointer-events: none;
}

.icon p {
    margin: 0;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.close {
    background-color: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #505050;

    &:active {
        background-color: #2c2c2c;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}