.screen {
    height: 100%;
    width: calc(100% - 120px);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 4;
    transition: opacity 0.3s;
    padding: 50px;
    padding-left: 120px !important;
    color: white;
    font-family: "Roboto-mono", monospace;
}

#screen1 {
    opacity: 1;
    z-index: 5;
    display: flex;

    h2 {
        padding: 0;
        margin: 0;
    }

    .handle {
        cursor: pointer;
        transition:
            color 2s,
            font-weight 0.3s;
        font-weight: normal;
        color: #8a8182;
        &:active {
            transition: none;
            color: white;
            font-weight: bold;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        width: fit-content;
        user-select: none;
        z-index: 3;
    }
}

#screen1 .left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#screen1 img {
    width: 250px;
    aspect-ratio: 1;
    filter: invert(1);
    cursor: crosshair;

    transition: filter 0.3s;
}

#screen1 img:hover {
    filter: invert(0);
    user-select: none;
}

.handle .handle-popup {
    padding: 5px;
    background-color: #2b2b2b;
    color: white;
    border-radius: 4px;
    /* margin-bottom: 120px; */
    position: absolute;
    font-size: 12pt;
    transform: translateY(-150%);
    opacity: 0;

    z-index: 20 !important;
    user-select: none;

    transition:
        opacity 1.2s ease-in,
        transform 1.2s;
}

.handle:active {
    .handle-popup {
        opacity: 1;
        transform: translateY(-100%);
        transition: none;
    }
}
