.screen {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    transition: opacity 0.3s, visibility 0.3s;
    padding: 50px;
    padding-left: 120px !important;
    padding-right: 0 !important;
    color: white;
    font-family: "Roboto-mono", monospace;
}

@media screen and (max-width: 768px) {
    .screen {
        padding: 0 !important;
        width: 100%;
        height: 800px;
        box-sizing: border-box;
        margin-top: 50px !important;
        padding-bottom: 100px !important;
    }
}

#home {
    opacity: 1;
    visibility: visible;

    z-index: 5;
    display: flex;
    justify-content: space-between;

    h2 {
        padding: 0;
        margin: 0;
    }

    .handle {
        cursor: pointer;
        transition:
            color 2s,
            font-weight 0.3s;
        font-weight: normal;
        color: #b5b5b5;

        &:active {
            transition: none;
            color: white;
            font-weight: bold;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        width: fit-content;
        user-select: none;
    }
}

#home .left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#home .pfp-image {
    width: 250px;
    aspect-ratio: 1;
    filter: invert(1);
    cursor: crosshair;
    box-shadow: 0 0 0 0 black;

    transition:
        filter 0.3s,
        box-shadow 0.3s;
}

#home .pfp-image:hover {
    filter: invert(0);
    user-select: none;

    box-shadow: 0 0 5px 5px white;
}

#home .visits {
    margin-left: -10px;
    user-select: none;
}

@media screen and (max-width: 768px) {
    #home {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        padding-top: 50px;
        padding-bottom: 100px;

        height: fit-content;

        .left,
        .right {
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
        }

        .pfp-image {
            width: 300px;
            margin-left: 25px;
        }

        .descriptor {
            .title {

                &::before {
                    top: 60%;
                    height: 2px;
                }

                margin-bottom: 6px;

                h1 {
                    font-size: 20pt;
                    padding: 0 2px;
                }
            }

            h2 {
                font-size: 18pt;
            }
        }
    }


}

.copy-popup {
    visibility: hidden;
    padding: 5px;
    background-color: black;
    color: white;
    /* border-radius: 4px; */
    /* margin-bottom: 120px; */
    position: absolute;
    font-family: "Roboto-mono", monospace;
    font-size: 12pt;
    transform: translateY(-150%);
    opacity: 0;

    z-index: 20 !important;
    user-select: none;

    transition:
        visibility 1.2s,
        transform 1.2s,
        opacity 1.2s ease-in;
}

.items {
    margin-right: 40px;
    gap: 10px;
    width: 270px;
    font-family: "Space Mono", monospace;

    .descriptor {
        width: 100%;

        .title {
            position: relative;
            /* Establish a positioning context for pseudo-elements */
            width: 100%;
            /* Adjust as needed */
            height: 40px;
            /* Adjust to fit your layout */
        }

        .title::before {
            content: "";
            position: absolute;
            top: 50%;
            /* Align the line vertically */
            left: 0;
            width: 100%;
            height: 2px;
            /* Adjust thickness of the line */
            background-color: #b8b8b8;
            /* Change to your desired line color */
            transform: translateY(-50%);
            z-index: 5;
            /* Ensure it's behind the text */
        }

        h1 {
            position: absolute;
            background-color: black;
            /* Match the background to "hide" the line */
            z-index: 6;
            /* Place it above the line */
            padding: 0 1px;
            /* Optional: Add spacing around the text */
            margin: 0;
            width: fit-content;
            font-size: 16pt;

            top: 2px;
            right: 4px;
            text-align: right;

            color: #a8a8a8;

            i {
                padding-left: 2px;
            }
        }

        /*
	.title i {
		position: relative;
		left: 4px;
		top: 9px;
		color: #a8a8a8;
		font-size: 16pt;
		background-color: black;
		padding: 0 2px;
		z-index: 6;
	}
	*/

        h2,
        .emoji {
            font-size: 14pt;
            display: inline-block;
            vertical-align: middle;
            text-shadow: white 0 0 6px;
        }

        .emoji {
            font-size: 20pt !important;
        }

        h2 {
            width: 100%;
        }

        .demigirl {
            background: linear-gradient(90deg, #7F7F7F, #C4C4C4, #FDADC8, #FFFFFF, #FDADC8, #C4C4C4, #7F7F7F);
            -webkit-background-clip: text;
            background-clip: text;
            width: 100%;

            color: rgba(255, 255, 255, 1);
            transition: color 0.2s;
        }

        h2:hover {
            .demigirl {
                color: rgba(255, 255, 255, 0);
            }
        }

        .box {
            position: relative;
            height: 15px;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            padding: 4px;
            font-size: 14pt;
            font-family: "Roboto-mono", monospace;
            background: white;
            color: black;
            cursor: cell;
            user-select: none;
            transition:
                color 1s,
                background 3s;

            &:hover {
                transition:
                    color 0.4s,
                    background 0.3s;
            }
        }

        .experience-container {
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            gap: 10px;
            position: relative;
            /* height: 200px; */
        }
    }
}

@media screen and (max-width: 768px) {
    .items {
        width: 100%;
        margin-right: 0;
    }
}

#css:hover {
    background: purple !important;
    color: white !important;
}

#html:hover {
    background-color: #f16529 !important;
    color: white !important;
}

#js:hover {
    background-color: #f0db4f !important;
}

#python:hover {
    background-color: #306998 !important;
    color: #f0db4f !important;
}

#node:hover {
    background-color: #8cc84b !important;
}

@media screen and (max-width: 768px) {
    .items {
        .descriptor {
            .title {
                h1 {
                    font-size: 20pt;
                }
            }

            h2 {
                font-size: 18pt;
            }

            .box {
                font-size: 16pt;
                height: 20px;
            }
        }
    }

}

/*
.copy-popup {
  z-index: 10;
  position: absolute;
  background-color: black;
  color: white;

  top: 0;
  left: 0;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);

  transition:
    visibility 0.3s,
	opacity 0.3s,
    transform 0.3s;
}
*/

.visible {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateY(0) !important;

    transition: none !important;
}

#connections {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
        /* color: white; */
        font-family: "Space Mono", monospace;
        margin: 0;
    }

    .items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 590px;
        padding-left: 10px;
    }

    .friends {
        position: relative;
        height: remainder;
        flex: 1 1 auto;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .banners {
            display: flex;
            flex-direction: row;
            gap: 10px;
            flex-wrap: wrap;

            a {
                color: transparent;
            }

            img,
            iframe {
                transition: transform 0.2s, box-shadow 0.2s;

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: 0 1px 5px 0 white;
                }
            }
        }

        .referrer-box {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 0;
        }

        .referer-sub {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 50px;

            .code-container {
                border-radius: 10px;
                background-color: #333;
                padding: 5px;
                display: flex;
                align-items: center;
                gap: 5px;

                .divider {
                    width: 1px;
                    height: 24px;
                    background-color: #666;
                }
            }

            code {
                font-family: "Roboto-mono", monospace;
                font-size: 12pt;
                display: flex;
                align-items: center;
                color: white;
                width: 400px;
                text-wrap: nowrap;
                overflow-x: scroll;
                overflow-y: hidden;

                scrollbar-color: gray transparent;
                scrollbar-width: thin;
                height: 30px;
                padding: 2px;

                &:selection {
                    background-color: #111;
                }
            }

            button {
                color: white;
                cursor: pointer;
                font-family: "Space mono", monospace;
                font-size: 12pt;
                height: 100%;
                background: transparent;
                border: none;
                user-select: none;

                transition:
                    text-shadow 0.2s,
                    transform 0.2s;

                &:hover {
                    text-shadow: white 0 0 6px;
                }

                &:active {
                    transform: scale(0.9);
                }
            }

            iframe {
                margin-left: 20px;
            }
        }
    }

    .descriptor {
        width: 270px;

        h2 {
            font-size: 14pt;
            margin: 0;
        }

        .connection {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &:hover {
                .buttons {
                    opacity: 1;
                }
            }

            &:focus-within {
                .buttons {
                    opacity: 1;
                }
            }

            .buttons {
                position: absolute;
                right: 0;
                top: 0;
                opacity: 0;
                height: 24px;
                transition: opacity 0.15s;

                display: flex;
                align-items: center;
                gap: 10px;

                button,
                a {
                    aspect-ratio: 1;
                    text-shadow: black 0 0 6px;
                    font-size: 15pt;
                    cursor: pointer;
                    color: #a8a8a8;
                    background-color: transparent;
                    border: none;
                    user-select: none;

                    transition: color 0.2s,
                        transform 0.2s;

                    &:hover {
                        color: white !important;
                        transform: scale(1.2);
                    }

                    &:focus {
                        color: white !important;
                        transform: scale(1.2);
                    }

                    &:active {
                        transition: 0.1s;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #connections {
        width: 100%;
        box-sizing: border-box;

        .items {
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
            justify-content: center;
        }

        .friends {
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;

            .banners {
                gap: 15px;
                justify-content: center;
            }

            .referrer-box {
                display: none;
            }
        }

        .descriptor {
            width: 100%;
            justify-content: center;

            align-items: flex-start;

            .title {

                margin-bottom: 15px;

                &::before {
                    top: 60%;
                    height: 2px;
                }

                h1 {
                    font-size: 20pt;
                }
            }

            h2 {
                font-size: 18pt;
            }

            .connection {
                flex-wrap: wrap;
                gap: 10px;

                .buttons {
                    opacity: 1 !important;
                    position: relative;
                    height: 100%;

                    button {
                        color: white !important;
                        font-size: 20pt;

                    }
                }
            }
        }
    }

}

#projects {
    width: 100%;
    overflow-y: auto;

    .items {
        display: flex;
        flex-direction: column;
        width: calc(100% - 70px);
        gap: 20px;
    }

    .descriptor {
        width: 100%;

        h1 {
            background-color: transparent;
            width: 100%;
            text-align: center;
            text-shadow: none;
            right: 0;

            span {
                background-color: black !important;
                padding: 0 2px;
                height: fit-content;
                margin-bottom: -35px;
            }
        }

        h2 {
            font-size: 14pt;
            margin: 0;
        }

        .project {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .banner {
                width: 50%;
                object-fit: contain;
                max-height: 120px;
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 5px;
                width: 50%;
            }

            .buttons {
                position: relative;
                width: 100%;
                height: 100%;
                transition: box-shadow 0.3s;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                flex-direction: column;
                gap: 10px;
                overflow: hidden;
                padding: 5px 2px;
                z-index: 7;

                a {
                    width: 100%;
                    color: white;
                    text-decoration: none;
                    font-size: 12pt;
                    transition: transform 0.2s, text-shadow 0.2s;

                    &:hover,
                    &:focus {
                        text-shadow: darkgray 0 0 6px;
                        transform: translateX(5px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #projects {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        overflow: visible;
        height: fit-content;

        .items {
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
            gap: 20px;
        }

        .descriptor {
            width: 100%;

            h1 {
                span {
                    margin-bottom: -20px;
                }
            }

            .project {
                flex-direction: column;
                gap: 10px;

                .banner {
                    width: 100%;
                    max-height: 200px;
                }

                .info {
                    width: 100%;
                }

                .buttons {
                    flex-direction: row;
                    gap: 10px;
                    padding: 5px 0;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}