body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.59em;
  --top-offset: 58.2vh;
  --fall-duration: 10.438s;
  --fall-delay: 7.649s;
}
.star:nth-child(2) {
  --star-tail-length: 7.23em;
  --top-offset: 25.97vh;
  --fall-duration: 11.127s;
  --fall-delay: 1.247s;
}
.star:nth-child(3) {
  --star-tail-length: 6.23em;
  --top-offset: 90.28vh;
  --fall-duration: 11.799s;
  --fall-delay: 3.097s;
}
.star:nth-child(4) {
  --star-tail-length: 6.56em;
  --top-offset: 2.24vh;
  --fall-duration: 10.872s;
  --fall-delay: 5.369s;
}
.star:nth-child(5) {
  --star-tail-length: 5.77em;
  --top-offset: 81.54vh;
  --fall-duration: 8.961s;
  --fall-delay: 4.38s;
}
.star:nth-child(6) {
  --star-tail-length: 7.29em;
  --top-offset: 51.99vh;
  --fall-duration: 7.086s;
  --fall-delay: 5.443s;
}
.star:nth-child(7) {
  --star-tail-length: 5.33em;
  --top-offset: 28.6vh;
  --fall-duration: 11.699s;
  --fall-delay: 1.432s;
}
.star:nth-child(8) {
  --star-tail-length: 5.56em;
  --top-offset: 38.31vh;
  --fall-duration: 11.785s;
  --fall-delay: 3.126s;
}
.star:nth-child(9) {
  --star-tail-length: 6.11em;
  --top-offset: 13.46vh;
  --fall-duration: 11.269s;
  --fall-delay: 4.66s;
}
.star:nth-child(10) {
  --star-tail-length: 5.7em;
  --top-offset: 21.79vh;
  --fall-duration: 11.242s;
  --fall-delay: 7.493s;
}
.star:nth-child(11) {
  --star-tail-length: 7.18em;
  --top-offset: 89.84vh;
  --fall-duration: 9.494s;
  --fall-delay: 8.466s;
}
.star:nth-child(12) {
  --star-tail-length: 6.45em;
  --top-offset: 42.66vh;
  --fall-duration: 10.64s;
  --fall-delay: 7.433s;
}
.star:nth-child(13) {
  --star-tail-length: 5.69em;
  --top-offset: 36.36vh;
  --fall-duration: 9.851s;
  --fall-delay: 5.231s;
}
.star:nth-child(14) {
  --star-tail-length: 7.28em;
  --top-offset: 96.98vh;
  --fall-duration: 8.92s;
  --fall-delay: 5.89s;
}
.star:nth-child(15) {
  --star-tail-length: 5.13em;
  --top-offset: 70.26vh;
  --fall-duration: 8.305s;
  --fall-delay: 5.363s;
}
.star:nth-child(16) {
  --star-tail-length: 7.43em;
  --top-offset: 83.54vh;
  --fall-duration: 8.786s;
  --fall-delay: 8.595s;
}
.star:nth-child(17) {
  --star-tail-length: 5.87em;
  --top-offset: 91.55vh;
  --fall-duration: 8.963s;
  --fall-delay: 3.566s;
}
.star:nth-child(18) {
  --star-tail-length: 5.64em;
  --top-offset: 21.35vh;
  --fall-duration: 10.926s;
  --fall-delay: 9.545s;
}
.star:nth-child(19) {
  --star-tail-length: 7.42em;
  --top-offset: 99.76vh;
  --fall-duration: 8.74s;
  --fall-delay: 2.316s;
}
.star:nth-child(20) {
  --star-tail-length: 7.22em;
  --top-offset: 39.64vh;
  --fall-duration: 10.154s;
  --fall-delay: 5.181s;
}
.star:nth-child(21) {
  --star-tail-length: 6.32em;
  --top-offset: 56.48vh;
  --fall-duration: 9.755s;
  --fall-delay: 5.522s;
}
.star:nth-child(22) {
  --star-tail-length: 6.73em;
  --top-offset: 11.89vh;
  --fall-duration: 9.525s;
  --fall-delay: 8.386s;
}
.star:nth-child(23) {
  --star-tail-length: 6.24em;
  --top-offset: 39.56vh;
  --fall-duration: 10.456s;
  --fall-delay: 5.379s;
}
.star:nth-child(24) {
  --star-tail-length: 5.43em;
  --top-offset: 47.49vh;
  --fall-duration: 9.484s;
  --fall-delay: 4.686s;
}
.star:nth-child(25) {
  --star-tail-length: 5.97em;
  --top-offset: 98.73vh;
  --fall-duration: 9.061s;
  --fall-delay: 9.874s;
}
.star:nth-child(26) {
  --star-tail-length: 5.52em;
  --top-offset: 50.15vh;
  --fall-duration: 8.249s;
  --fall-delay: 8.498s;
}
.star:nth-child(27) {
  --star-tail-length: 6.29em;
  --top-offset: 17.74vh;
  --fall-duration: 7.637s;
  --fall-delay: 2.716s;
}
.star:nth-child(28) {
  --star-tail-length: 7.1em;
  --top-offset: 22.61vh;
  --fall-duration: 6.091s;
  --fall-delay: 1.806s;
}
.star:nth-child(29) {
  --star-tail-length: 5.2em;
  --top-offset: 67.09vh;
  --fall-duration: 7.597s;
  --fall-delay: 8.981s;
}
.star:nth-child(30) {
  --star-tail-length: 5.74em;
  --top-offset: 8.21vh;
  --fall-duration: 10.145s;
  --fall-delay: 6.022s;
}
.star:nth-child(31) {
  --star-tail-length: 7.22em;
  --top-offset: 56.88vh;
  --fall-duration: 9.613s;
  --fall-delay: 4.58s;
}
.star:nth-child(32) {
  --star-tail-length: 5.58em;
  --top-offset: 1.33vh;
  --fall-duration: 10.975s;
  --fall-delay: 3.546s;
}
.star:nth-child(33) {
  --star-tail-length: 6.74em;
  --top-offset: 42.77vh;
  --fall-duration: 10.498s;
  --fall-delay: 2.522s;
}
.star:nth-child(34) {
  --star-tail-length: 6.17em;
  --top-offset: 83.54vh;
  --fall-duration: 6.704s;
  --fall-delay: 6.376s;
}
.star:nth-child(35) {
  --star-tail-length: 5.71em;
  --top-offset: 28.38vh;
  --fall-duration: 6.189s;
  --fall-delay: 3.842s;
}
.star:nth-child(36) {
  --star-tail-length: 6.25em;
  --top-offset: 27.78vh;
  --fall-duration: 6.059s;
  --fall-delay: 4.78s;
}
.star:nth-child(37) {
  --star-tail-length: 6.94em;
  --top-offset: 23.28vh;
  --fall-duration: 10.35s;
  --fall-delay: 5.84s;
}
.star:nth-child(38) {
  --star-tail-length: 5.82em;
  --top-offset: 94.01vh;
  --fall-duration: 9.33s;
  --fall-delay: 8.285s;
}
.star:nth-child(39) {
  --star-tail-length: 7.29em;
  --top-offset: 96.75vh;
  --fall-duration: 8.642s;
  --fall-delay: 5.279s;
}
.star:nth-child(40) {
  --star-tail-length: 6.41em;
  --top-offset: 9.77vh;
  --fall-duration: 9.555s;
  --fall-delay: 3.618s;
}
.star:nth-child(41) {
  --star-tail-length: 7em;
  --top-offset: 89.63vh;
  --fall-duration: 9.917s;
  --fall-delay: 2.576s;
}
.star:nth-child(42) {
  --star-tail-length: 5.35em;
  --top-offset: 0.46vh;
  --fall-duration: 10.104s;
  --fall-delay: 0.74s;
}
.star:nth-child(43) {
  --star-tail-length: 5.35em;
  --top-offset: 92.16vh;
  --fall-duration: 7.34s;
  --fall-delay: 4.192s;
}
.star:nth-child(44) {
  --star-tail-length: 6.02em;
  --top-offset: 60.64vh;
  --fall-duration: 7.721s;
  --fall-delay: 9.82s;
}
.star:nth-child(45) {
  --star-tail-length: 7.16em;
  --top-offset: 53.51vh;
  --fall-duration: 11.301s;
  --fall-delay: 7.392s;
}
.star:nth-child(46) {
  --star-tail-length: 7.07em;
  --top-offset: 16.82vh;
  --fall-duration: 6.923s;
  --fall-delay: 1.096s;
}
.star:nth-child(47) {
  --star-tail-length: 5.86em;
  --top-offset: 5.9vh;
  --fall-duration: 7.332s;
  --fall-delay: 2.259s;
}
.star:nth-child(48) {
  --star-tail-length: 7.05em;
  --top-offset: 41.29vh;
  --fall-duration: 10.294s;
  --fall-delay: 7.41s;
}
.star:nth-child(49) {
  --star-tail-length: 6.1em;
  --top-offset: 15.13vh;
  --fall-duration: 11.038s;
  --fall-delay: 3.134s;
}
.star:nth-child(50) {
  --star-tail-length: 6.74em;
  --top-offset: 34.37vh;
  --fall-duration: 10.706s;
  --fall-delay: 1.69s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}