body {
    background-color: #444444;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.window {
    background-color: #193448;
    width: 700px;
    position: absolute;
    top: 20%;
    left: 25%;
}

.title-bar {
    user-select: none;
    background-color: #0f1c29;
    border: 1px solid #09121a;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title-bar-text {
    display: inline-block;
    margin: 0;
}

.title-bar-controls {
    display: flex;
    justify-content: space-between;
}

.title-bar-controls button {
    border: 1px solid #09121a;
    color: #ffffff;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
    width: 15px;
    height: 15px;

    &.maximize {
        background-color: #009100;
    }

    &.minimize {
        background-color: #c59d00;
    }

    &.close {
        background-color: #bb0000;
    }
}

.window-body {
    padding: 20px;
}