.top-bar {
    background-color: #333;
    height: 70px;
    display: flex;
    z-index: 1;
    justify-content: end;
    align-items: end;
}

.top-bar-items {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    height: 100%;
}

.top-bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 180px;
    height: 100%;
    font-size: 30px;
    font-size: 15pt;

}

.top-bar-item:hover {
    color: #333;
    background-color: #ff5f57;
}

.blog-active #blog-button {
    color: #333;
    background-color: #ffa39e;
}

.project-active #project-button {
    color: #333;
    background-color: #ffa39e;
}

.home-active #home-button {
    color: #333;
    background-color: #ffa39e;
}

@media screen and (max-width: 750px) {

    .top-bar-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .top-bar-item {
        padding-right: 10px;
        padding-left: 10px;
        width: 33.33%;
    }

    .current-page {
        display: none;
    }

}

@media screen and (min-width: 751px) {
    .current-page {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 30pt;
        text-align: center;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: left;
        height: 70px;
        left: 2%;
        user-select: none;
    }
}