.title-bar {
    background-color: #333;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.mac-window {
    position: relative;
    z-index: 2;
    width: 500px;
    user-select: none;
}

.window-title {
    color: white;
    font-size: 0.8em;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
}

.window-buttons {
    display: flex;
    gap: 5px;
}

.window-button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 2px;
    border: 2px solid #616161;
    background-color: #ff5f57;
    transition: background-color 0.1s;
}

.window-button.minimize {
    background-color: #ffc163;
}

.window-button.expand {
    background-color: #28ca42;
}

.mac-card {
    background-color: #1e1e1e;
    color: white;
    padding: 2em;
    text-align: left;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 20px rgb(42, 42, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    /* Ensure the card is above the title bar */
    text-align: center;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 1em;
}

.card-button {
    background-color: #ff5f57;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.card-button:hover {
    background-color: #ff3f3f;
}

.fab {
    color: white;
}

@media screen and (max-width: 750px) {
    .mac-card {
        width: 100%;
        padding: 1em;
    }

    .profile-image {
        width: 100px;
        height: 100px;
    }

    .mac-window {
        padding: 3%;
        position: relative;
        max-width: 90%;
    }
}

#slide-out1,
#slide-out2 {
    width: 300px !important;
    z-index: 1;

    .mac-card {
        height: 270px;
        padding: 0 1.5em;
    }

    .card-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1em;
        width: 100%;
        padding: 0 !important;
    }

    a {
        transition: background-color 0.1s;
    }
}

#steam-btn {
    background-color: #1b2838;
}

#steam-btn:hover {
    background-color: #0f1a2b;
}

#github-btn {
    background-color: #333;
}

#github-btn:hover {
    background-color: #1a1a1a;
}

#twitter-btn {
    background-color: #1da1f2;
}

#twitter-btn:hover {
    background-color: #0d7bbf;
}

#discord-btn {
    background-color: #7289da;
}

#discord-btn:hover {
    background-color: #5865a2;
}

#mastodon-btn {
    background-color: #3088d4;
}

#mastodon-btn:hover {
    background-color: #1f5d8c;
}

#connections-card .card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.8em;
    width: 100%;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    padding: 0;
    margin: 0;
}

.experience-list li {
    list-style-type: none;
    padding: 2px;
    font-weight: bold;
    border: 1px solid #333;
    cursor: default;
    user-select: none;
}

#exp-python {
    background: linear-gradient(to right, #3572A5, #FFD43B);
}

#exp-git {
    background: linear-gradient(to right, #F44D27, #FFD43B);
}

#exp-html {
    background: linear-gradient(to right, #E44D26, #F16529);
}

#exp-css {
    background: linear-gradient(to right, #264DE4, #2965F1);
}

#exp-js {
    background: linear-gradient(to right, #b4a43b, #c9b518);
}

#exp-node {
    background: linear-gradient(to right, #8CC84B, #68A063);
}