<html>

<head>
    <style>
        body {
			padding: 0;
			margin: 0;
            height: 31px;
            width: 88px;
			overflow: hidden;
        }

        img {
            height: 100%;
            width: 100%;
        }

		::-webkit-scrollbar {
		    display: none;
		}
    </style>
</head>

<body>
    <a href="https://pre1ude.dev" target="_blank" referrerpolicy="origin"><img src="/blankie.png" alt="Pre1ude.dev" /></a>
</body>

</html>
