<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ielūgums</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ielugums.css') }}">
</head>

<body>
    <div class="container">
        <div>
            <h1 class="header_text">Nāksi Bowlot?</h1>
        </div>
        <div class="gif_container">
            <img src="https://raw.githubusercontent.com/LarssJakobsons/private-thing-i-forgor/main/image.png?token=GHSAT0AAAAAACKU62H4P6DCT7XPHROIRZP2ZNG4NIQ"
                alt="real">
        </div>
        <div class="buttons">
            <button class="btn" id="yesButton" onclick="nextPage()">I'm down!</button>
            <button class="btn" id="noButton" onmouseover="moveButton()">Nah</button>
            <script>
                function nextPage() {
                    window.location.href = "/ielugums?=naksu_fr";
                }
                
                function moveButton() {
                    var x = Math.random() * (window.innerWidth - document.getElementById('noButton').offsetWidth - 100);
                    var y = Math.random() * (window.innerHeight - document.getElementById('noButton').offsetHeight - 100);
                    document.getElementById('noButton').style.left = `${50 + x}px`;
                    document.getElementById('noButton').style.top = `${50 + y}px`;
                }
            </script>
        </div>
    </div>

</body>

</html>