<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/pfp-favico.png') }}">
    <title>Larssj.dev/Projects</title>
    <meta property="og:title" content="LarssJ.dev/projects">
    <meta property="og:description" content="My projects">
    <meta property="og:image" content="{{ url_for('static', filename='images/pfp-favico.png') }}">
    <meta property="og:url" content="https://larssj.dev/projects">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ff773d">
    <meta name="msapplication-TileColor" content="#ff773d">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/top-bar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <script src="https://kit.fontawesome.com/bd75686a6c.js" crossorigin="anonymous"></script>

    <div class="top-bar">
        <div class="top-bar-items">
            <div class="top-bar-item" id="blog-button">Blogs</div>
            <div class="top-bar-item" id="project-button">Projects</div>
            <div class="top-bar-item" id="home-button">Home</div>
        </div>
    </div>

    <div class="main">
        <div class="main-top">
            <h1>WIP</h1>
            <i class="fa-solid fa-code"></i>
        </div>
        <div class="main-text">
            <p>Soon™️</p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/projects.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/top-bar.js') }}"></script>
</body>

</html>