<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/pfp-favico.png') }}">
    <title>Larssj.dev/Projects</title>
    <meta property="og:title" content="LarssJ.dev/projects">
    <meta property="og:description" content="My projects">
    <meta property="og:image" content="{{ url_for('static', filename='images/pfp-favico.png') }}">
    <meta property="og:url" content="https://larssj.dev/projects">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ff773d">
    <meta name="msapplication-TileColor" content="#ff773d">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/top-bar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <script src="https://kit.fontawesome.com/bd75686a6c.js" crossorigin="anonymous"></script>

    <div class="top-bar">
        <div class="top-bar-items">
            <div class="top-bar-item" id="blog-button">Blogs</div>
            <div class="top-bar-item" id="project-button">Projects</div>
            <div class="top-bar-item" id="home-button">Home</div>
        </div>
    </div>

    <div class="main">
        <div class="main-title">
            <h1>Projects</h1>
        </div>
        <div class="projects-container">
            <div class="mac-window">
                <div class="title-bar">
                    <div class="window-title">LarssJ.dev</div>
                    <div class="window-buttons">
                        <div class="window-button close"></div>
                        <div class="window-button minimize"></div>
                        <div class="window-button expand"></div>
                    </div>
                </div>
                <div class="mac-card">
                    <div class="project-card-title">LarssJ.dev</div>
                    <div class="project-card-description">My personal website</div>
                    <div class="project-card-buttons">
                        <div class="project-card-button" onclick="window.location.href = '/'"><i
                                class="fa-solid fa-globe"></i></div>
                    </div>
                </div>
            </div>
            <div class="mac-window">
                <div class="title-bar">
                    <div class="window-title">Larss_Bot</div>
                    <div class="window-buttons">
                        <div class="window-button close"></div>
                        <div class="window-button minimize"></div>
                        <div class="window-button expand"></div>
                    </div>
                </div>
                <div class="mac-card">
                    <div class="project-card-title">Larss_Bot</div>
                    <div class="project-card-description">My hobby discord bot project</div>
                    <div class="project-card-buttons">
                        <div class="project-card-button"
                            onclick="window.location.href = 'https://larssbot.onrender.com/'"><i
                                class="fa-solid fa-globe"></i></div>
                        <div class="project-card-button"
                            onclick="window.location.href = 'https://github.com/LarssJakobsons/Larss_Bot/'"><i
                                class="fa-brands fa-github"></i></div>
                        <div class="project-card-button"
                            onclick="window.location.href = 'https://discord.gg/TReMEyBQsh'"><i
                                class="fa-brands fa-discord"></i></div>
                    </div>
                </div>
            </div>
            <div class="mac-window">
                <div class="title-bar">
                    <div class="window-title">Discord RPC template</div>
                    <div class="window-buttons">
                        <div class="window-button close"></div>
                        <div class="window-button minimize"></div>
                        <div class="window-button expand"></div>
                    </div>
                </div>
                <div class="mac-card">
                    <div class="project-card-title">Discord rich presence template</div>
                    <div class="project-card-description">A python discord rich presence template using pypresence</div>
                    <div class="project-card-buttons">
                        <div class="project-card-button"
                            onclick="window.location.href = 'https://github.com/LarssJakobsons/Discord-rich-presence-python'"><i
                                class="fa-brands fa-github"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/projects.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/top-bar.js') }}"></script>
</body>

</html>