body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #d4d4d4;
    color: rgb(57, 57, 57);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.main-text {
    font-size: 1.2em;
    text-align: center;
    width: 50%;
}

.main-top i {
    font-size: 8em;
}

h1 {
    font-size: 2em;
}