body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #d4d4d4;
    color: rgb(57, 57, 57);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}




.title-bar {
    background-color: #333;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.mac-window {
    position: relative;
    min-width: 300px;
}

.window-title {
    color: white;
    font-size: 0.8em;
}

.window-buttons {
    display: flex;
    gap: 5px;
}

.window-button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 2px;
    border: 2px solid #616161;
    background-color: #ff5f57;
}

.window-button.minimize {
    background-color: #ffc163;
}

.window-button.expand {
    background-color: #28ca42;
}

.mac-card {
    background-color: #1e1e1e;
    color: white;
    padding: 1em 2em 1em 2em;
    text-align: left;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 20px rgb(42, 42, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    z-index: 1; /* Ensure the card is above the title bar */
    text-align: center;
}

.project-card-button{
    background-color: #ff5f57;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    a {color: white;}
}

.project-card-button:hover{
    background-color: #ff3f3f;
}

.project-card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    gap: 10px;
}

.project-card-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}