.top-bar {
    background-color: #333;
    height: 10vh;
    display: flex;
    z-index: 1;
    justify-content: end;
    align-items: end;
}

.top-bar-items {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 40%;
    height: 100%;
}

.top-bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 20vh;
    height: 100%;
    font-size: 30px;
    font-size: 15pt;
}

.top-bar-item:hover {
    color: #333;
    background-color: #ff5f57;
}

.blog-active #blog-button {
    color: #333;
    background-color: #ffa39e;
}

.project-active #project-button {
    color: #333;
    background-color: #ffa39e;
}

.home-active #home-button {
    color: #333;
    background-color: #ffa39e;
}

.mobile-view .top-bar-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.mobile-view .top-bar-item {
    padding-right: 10px;
    padding-left: 10px;
}