@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
    --breakpoint-lg: calc(1200px + 2 * 2rem);
}

:root {
    --font-geist-mono: "Geist Mono", monospace;
    --trans: linear-gradient(
        90deg,
        #5bcefa,
        #f5a9b8,
        #ffffff,
        #f5a9b8,
        #5bcefa
    );
    --demigirl: linear-gradient(
        90deg,
        #7f7f7f,
        #c4c4c4,
        #fdadc8,
        #ffffff,
        #fdadc8,
        #c4c4c4,
        #7f7f7f
    );
    --aroace: linear-gradient(
        90deg,
        #e28c00,
        #eccd00,
        #ffffff,
        #62aedc,
        #203856
    );
    --lesbian: linear-gradient(
        90deg,
        #d52d00,
        #ef7627,
        #ff9a56,
        #ffffff,
        #d162a4,
        #b55690,
        #a30262
    );
}

:root {
    scrollbar-color: var(--color-zinc-900) black;
    scrollbar-width: thin;
}

body {
    padding: 2rem;
    min-height: 100vh;
    background: url("/background.png") no-repeat center center fixed;
}

bg-filter {
    background-size: cover;
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1200px) {
    body {
        padding: 1rem !important;
    }
}
